
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    margin: 0;
}

header
{
    margin: 0;
}
section
{
    margin: 2vh auto 0 auto;
    width: 60%;
}
main{
    margin: 10vh auto 0 auto;
    width: 60%;

}
#quiz_main
{
    width: 60%;
    margin: auto;
}
#quiz_main>form{
    width: 80%;
}

#area_main>*.input
{
    margin: 0 auto 0 auto;
}
.page_title
{
    display: grid;
    grid-template-columns: 15% auto;
}
.app
{
    height: 90vh;
    margin: 0;
}

.menu{
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.menu_container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.menu_item
{
    overflow: hidden;
    width: 10rem;
    margin: 0.5rem;
    height: 10rem;
    background-color: red;

}

@media only screen and (max-width:600px)
{
    .menu_container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }

    .menu_item
    {
        width: 80%;
        height: 6rem;
        margin: 0.5rem auto;
    }
   
    main,section{
        margin: auto;
        width: 80%;
    }
    #quiz_main
    {
        width: 80%;
        margin: auto;
    }

}