:root
{
    --blue:#000077;
    --white:#FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white);
    font-family: 'Strait', sans-serif;
}

h1{
    margin: 0;
}

header
{
    margin: 0;
}
section
{
    margin: 2vh auto 0 auto;
    width: 60%;
}
main{
    margin: 10vh auto 0 auto;
    width: 50%;
}
#quiz_main
{
    width: 60%;
    margin: auto;
}
#quiz_main>form{
    width: 80%;
}

.options_container
{
    margin: 0;
}
#area_main
{
    margin: auto;
}
#area_main>div>.instructions
{
    margin: auto;
    text-align: center;
}
#area_main>*.input
{
    margin: 0 auto 0 auto;
    width: 40%;
}
.page_title
{
    display: grid;
    grid-template-columns: 15% auto;
}
.app
{
    height: 90vh;
    margin: 0;
}
.home_title
{
    text-align: center;
    padding: 1rem;
    font-family: 'Strait', sans-serif;
    color: var(--blue);
}
.menu{
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-top: 10%;
}
.menu_container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.menu_container>a
{
    text-decoration: none;   
    border-radius: 10px;
}
strong
{
    font-size: large;
}
.menu_item
{
    overflow: hidden;
    width: 10rem;
    margin: 0.5rem;
    height: 10rem;
    background-color:var(--blue);
    color: var(--white);
    padding: 1rem;
    border-radius: 10px;
}

.menu_container>a:hover
{
    background-color: var(--blue);
    font-size: large;
}
#error_msg
{
    font-size: small;
    margin: auto;
    text-align: center;
}
.output>p
{
    margin:0.5rem auto;
    width: fit-content;
    border: 2px solid #000;
    padding: 5px;
    
}
.formula
{
    text-align: center;
}
.output
{
    margin: auto;
}
@media only screen and (max-width:600px)
{
    .menu_container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }
    .menu{
        margin-top: 0;
    }
    .menu_item
    {
        width: 80%;
        height: 6rem;
        margin: 0.5rem auto;
    }
   
    main,section{
        margin: auto;
        width: 80%;
    }
    #quiz_main
    {
        width: 80%;
        margin: auto;
    }



}