
body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

header
{
    margin: 0;
}

main{
    margin-top: 20vh;
}
#quiz_main
{
    margin-top: 5vh;
}
#area_main
{
    margin: 0;
}
.page_title
{
    display: grid;
    grid-template-columns: 15% auto;
}
.app
{
    height: 90vh;
    margin: 0;
}

.menu{
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.menu_container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.menu_item
{
    overflow: hidden;
    width: 10rem;
    margin: 0.5rem;
    height: 10rem;
    background-color: red;

}

@media only screen and (max-width:600px)
{
    .menu_container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
    }

    .menu_item
    {
        width: 80%;
        height: 6rem;
        margin: 0.5rem auto;
    }
    main{
        margin-top: 0vh;
    }

}