.input
{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
}

.instructions
{
    grid-column: 1/2;
}
.form_container{
    grid-column: 1/2;
    grid-row: 2/3;
}

form
{
    width: 40%;
    display: flex;
    flex-direction: column;
}

button
{
    width: fit-content;
}
.diagram
{
    background-color: gray;
    grid-row: 1/4;
    grid-column-start: 2;
    
}
.input, .output
{
    display: none;
}

@media only screen and (max-width:600px)
{
    .input
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagram
    {
        width: 100%;
        height: 10rem;
    }

    form
    {
        width: 80%;
    }

}
