@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');
:root
{
    --blue:#000077;
    --white:#FFFFFF;
}
.input
{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
}
#back_to_home
{
    background-color: var(--blue);
    width: fit-content;
    padding: 5px;
    color: var(--white);
    font-size: larger;
}

.heading
{
    margin-left: 5rem;
    font-size: larger;
    font-weight: 800;
    font-family: 'Strait', sans-serif;
    color: var(--blue);
}
.options_container 
{

    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.instructions
{
    grid-column: 1/2;
    text-align: justify;
}
.instructions>.sub_heading
{
    font-size: large;
    font-weight: 600;
}
.form_container{
    grid-column: 1/2;
    grid-row: 2/3;
}

form
{
    width: 40%;
    display: flex;
    flex-direction: column;
}

button
{
    width: fit-content;
}
.diagram
{
    grid-row: 1/4;
    grid-column-start: 2;
    height: 200px
}
#area_main>.input
{
    width: 15rem;
}
figure,img
{
    height: 100%;
    width: 100%;
    margin: auto;
} 
.form_container
{
    margin: auto;
    padding: 1rem;
    
}
form
{
    width: 100%;
}
input,button
{
    margin: 0.2rem auto;
    width: 60%;
} 
.question_container 
{
    margin:0.3rem auto;
    padding: 10px 2px;
    width: 100%;
    text-align: left;
    border: 2px solid #000;
    border-radius: 10px;
    
}
.question_options>input
{
    margin: 0.1rem auto 0.1rem 0.5rem;
    width: fit-content;
}
button
{
    width: fit-content;
}
.output
{
    display: none;
}

@media only screen and (max-width:600px)
{
    
    .heading
    {
        margin-top: 1.5rem;
        margin-left: 20px;
        font-size: x-large;
    }
    .input
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagram
    {
        width: 100%;
        height: 20vh;
    }
    figure{
        height: 100%;
        width: 70%;
        margin: auto;
    }   
    img
    {
        width: 100%;
    }
    form
    {
        width: 80%;
        margin: auto;
    }

    .output
    {
        display: none;
    }
    main ,.input{
        margin-top: 0;
    }
}
