.input
{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
}

.instructions
{
    grid-column: 1/2;
}
.form_container{
    grid-column: 1/2;
    grid-row: 2/3;
}

form
{
    width: 40%;
    display: flex;
    flex-direction: column;
}

button
{
    width: fit-content;
}
.diagram
{
    grid-row: 1/4;
    grid-column-start: 2;
    height: 200px
}
figure,img
{
    height: 100%;
    width: 70%;
}   
.output
{
    display: none;
}

@media only screen and (max-width:600px)
{
    .input
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diagram
    {
        width: 100%;
        height: 20vh;
    }
    figure,img
    {
        height: 100%;
        width: 70%;
    }   

    form
    {
        width: 80%;
    }

    .output
    {
        display: none;
    }
    main ,.input{
        margin-top: 0;
    }
}
